.carousel {
    margin-top: -25px;
}
.carousel-top .slick-prev {
    margin-left: 3%;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: unset;
    box-shadow: unset;
    margin-top: -50px;
}
.carousel-top .slick-prev::before {
    font-size: 40px;
}

.carousel-top .slick-next {
    margin-right: 3%;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: unset;
    box-shadow: unset;
    margin-top: -50px;
}
.carousel-top .slick-next::before {
    font-size: 40px;
}

.carousel-top .slick-list img {
    width: 100%;
    height: 600px;
}

.carousel-top .slick-list .slick-slide {
    position: relative;
}
.carousel-top .slick-list .slick-slide .description {
    position: absolute;
    bottom: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-top .slick-list .slick-slide .description .title {
    margin: 0;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0px 0px 5px black;
}
.carousel-top .slick-list .slick-slide .description .sub-title {
    margin: 0;
    margin-top: 8px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #72bf44;
    text-shadow: 0px 0px 5px black;
}

.carousel-top .slick-list .slick-slide .description .link {
    padding: 10px 20px;
    margin-top: 8px;
    background-color: rgb(37, 33, 88);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: 3px solid #44c0b7;
    color: #44c0b7;
    text-decoration: none;
    transition: all ease .2s;
    letter-spacing: 5px;
}
.carousel-top .slick-list .slick-slide .description .link:hover {
    background-color: #44c0b7;
    border: 3px solid rgb(37, 33, 88);
    color: rgb(37, 33, 88);
    transform: scale(1.02);
}

.carousel-top .slick-dots {
    position: absolute;
    bottom: 40px;
}
.carousel-top .slick-dots button {
    border: unset;
    box-shadow: unset;
}
.carousel-top .slick-dots button::before {
    font-size: 12px;
    color: #FFF;
    opacity: 1;
}
.carousel-top .slick-dots .slick-active button::before {
    color: #72bf44;
}
