.commercial-appeal {
    display: flex;
    width: 100%;
    background-color: #1d182d;
    padding: 10px 15px;
    color: #FFF;
    border-radius: 5px;
    position: relative;
    margin-top: -60px;
}
.commercial-appeal .content {
    flex: 1;
    display: flex;
}
.commercial-appeal .content .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.commercial-appeal .content .icon i {
    font-size: 30px;
    transform: rotate(-20deg);
    color: #44c0b7;
}
.commercial-appeal .content .description {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commercial-appeal .content .description .title {
    margin: 0;
    color: #72bf44;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
